.container {
  max-width: 600px;
}

.loginBtn {
color:rgb(131, 114, 92);
margin-top: 10px;
border-radius: 5px;
}

.loginBtn:hover {
  background-color: rgb(133, 116, 93);
  color: white;
}

.signupBtn {
  color:rgb(131, 114, 92);
margin-top: 10px;
border-radius: 5px;
}

.signupBtn:hover {
  color: black;
}